NEXT_PUBLIC_SUPABASE_URL=https://dlxaknhcgudngifwetzv.supabase.co
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRseGFrbmhjZ3VkbmdpZndldHp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjE1NjM1MCwiZXhwIjoyMDk3NzMyMzUwfQ.0RixzdW9f1UcMsHo6WejU5QnAlZvNNyMTFvlZ9hNN1I
NEXT_PUBLIC_BACKEND_URL=http://localhost:8002
